@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


body{
    background-color: #eef2f6;
}
/* header  */
header{
    background-color: #1a2436;
    text-align: center;
    padding: 25px 0;
}

header h1{
    color: #38bdf8;
    font-size: 37px;
    letter-spacing: 1px;
}
header p{
    color: #cbd5e1;
    padding: 10px 0;
}

header nav a{
    display: inline-block;
    text-decoration: none;
    background-color: #2d3546;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: 600;
}

header nav a:hover{
   background-color: #3cb5f2;
   transform: translate(10px);
}


/* main */
main{
    margin: 40px auto;
    max-width: 800px;
}

#about,#projects ,#contact{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}


#about h2 ,#projects h2 ,#contact h2{
    border-left:4px solid #0281c2;
    padding-left: 10px;
}

.about figure{
   text-align: center;
   padding: 10px 0;
}

.about figure img{
    width: 20%;
    border-radius: 100%;
    border: 4px solid #0281c2;
    margin: 8px 0;
}
.about figure img:hover{
    transform: scale(1.1);
}

.about figcaption{
   margin:5px 0;
   color: #6b6a6a;
   font-style: italic;
   font-size: 0.9rem;
}

.about p{
   padding: 20px;
   background-color: #f8fafc;
   border-radius: 20px;
   border:  1px solid  #e8eced;
   font-size: 16px;
}


.project-card{
    display: flex;
    margin: 20px 0;
    gap: 20px;
      flex-wrap: wrap;
}

.project-card article{
    flex: 1;
    background-color: #f8fafc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #E2E8F0;
}

.project-card article h3{
    color: black;  
    font-size: 17px;
}

.project-card article p{
    font-size: 12px;
    color: #6b6a6a;
}

.project-card article a{
   text-decoration: none;
   color: white;
   background-color: #0281c2;
   width: 45%;
   padding: 8px 2px;
   text-align: center;
   border-radius: 7px;
   font-weight: 600;
   font-size: 14px;
}

.project-card article a:hover{
   background-color: #026397;
}
.project-card article:hover{
   transform: translateY(-5px);
}

.skills{
    background-color: #F1F5F9;
    border-radius: 10px;
    padding: 20px;
}

.skills ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
       flex-wrap: wrap;
}

.skills ul li{
    background-color: #E0F2FE;
    border-radius: 20px;
    border: 1px solid #BAE6FD;
    padding: 7px 20px;
    color: #0281c2;
    font-weight: 600;
}

#contact{
    text-align: center;
}

#contact video{
     margin: 20px 0;
     object-fit: cover;
     max-width: 40%;
     height: auto;
     border-radius: 20px;
     border: 4px solid #CBD5E1;
}

/* footer  */
footer{
    margin: 40px auto;
    max-width: 800px;
    background-color: #141D30;
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 30px;
}

footer h2{
    border-left:4px solid #0281c2;
    padding-left: 10px;
    color: white;
    margin-bottom: 15px;
}

.info{
    margin-bottom: 10px;
}

footer p{
    color: white;
    padding-bottom: 14px;
}

.info p a{
    text-decoration: none;
    color: #6cc3ee;
}

footer form label{
    display: block;
    margin-bottom: 7px;
    color: #CBD5E1;
    font-weight: 600;
}

form{
    max-width: 70%;
}
form input[type="text"],
form input[type="email"],
textarea{
    width: 100%;
    background-color: #1E283B;
    outline: none;
    border: 1px solid #475569;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
}


form button{
    margin-bottom: 25px;
    padding: 7px;
    color: white;
    background-color: #0281c2;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

footer hr{
    border: none;
    height: 2px;
    background-color: #3e475b;
    margin-bottom: 22px;
}


.lastp{
    color: rgba(255, 255, 255, 0.59);
    font-size: 13px;
}